# Configuração do GitHub Personal Access Token
GITHUB_PERSONAL_KEY=ghp_your_github_token_here

# Credenciais Web do Firebase Cloud Firestore
FIREBASE_apiKey="AIzaSyDst7hVW71qdgSaQs0O-2DXulxdushQmKU"
FIREBASE_authDomain="burguersync-meridian.firebaseapp.com"
FIREBASE_projectId="burguersync-meridian"
FIREBASE_storageBucket="burguersync-meridian.firebasestorage.app"
FIREBASE_messagingSenderId="591456028440"
FIREBASE_appId="1:591456028440:web:8759c4a668ee789adb006d"
