rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e gravação em tempo real na coleção de pedidos
    match /pedidos/{pedidoId} {
      allow read, write: if true;
    }
    
    // Regra global de desenvolvimento
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
